---
apiVersion: "kubeadm.k8s.io/v1beta3"
kind: InitConfiguration
nodeRegistration:
    name: "etcd-{{ ansible_host }}"
    criSocket: unix:///var/run/cri-dockerd.sock
localAPIEndpoint:
    advertiseAddress: "{{ ansible_host }}"
---
apiVersion: "kubeadm.k8s.io/v1beta3"
kind: ClusterConfiguration
etcd:
    local:
        serverCertSANs:
        - "{{ ansible_host }}"
        peerCertSANs:
        - "{{ ansible_host }}"
        extraArgs:
            initial-cluster: "{% for host in groups['db']  %}etcd-{{ host }}=https://{{ host }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
            initial-cluster-state: new
            name: "etcd-{{ ansible_host }}"
            listen-peer-urls: "https://127.0.0.1:2380,https://{{ ansible_host }}:2380"
            listen-client-urls: "https://127.0.0.1:2379,https://{{ ansible_host }}:2379"
            advertise-client-urls: "https://{{ ansible_host }}:2379"
            initial-advertise-peer-urls: "https://{{ ansible_host }}:2380"
